doctype html 
html 
    head 
        title  FirstPug file
        link(href="http://localhost:9001/public/css/style.css" rel="stylesheet")
    body 
        p First Paragraph
        div(class="test")